<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Török Viktor honlapja", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Főoldal", "Index", "Home")</li>
                <li>@Html.ActionLink("Rólam", "About", "Home")</li>
                <li>@Html.ActionLink("Kapcsolat", "Contact", "Home")</li>
                <li>@Html.ActionLink("MI", "ArtificialIntelligence", "Home")</li>
                <li>@Html.ActionLink("Linkek", "Index", "Links")</li>
                <li>@Html.ActionLink("Programozás", "ProgLinks", "Links")</li>

                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Ajánlás", "Suggest", "Links")</li>
                    <li>@Html.ActionLink("Üzenet", "Index", "Message")</li>
                }
            </ul>

            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

